<% layout("/layouts/boilerplate")%>
<body>
    <h3>Edit listing</h3>
    <form method="post" action="/listings/<%= listingData._id %>?_method=PUT">
        <input name="listing[title]" value="<%= listingData.title %>" type="text">
        <br>

        <textarea name="listing[description]" type="text" ><%= listingData.description %></textarea>
        <br>
        
        <input name="listing[image]" value="<%= listingData.image.url %>" type="text" >
        <br>
        
        <input name="listing[price]" value="<%= listingData.price %>" type="number">
        <br>
        
        <input name="listing[location]" value="<%= listingData.location %>" type="text">
        <br>  
        
        <input name="listing[country]" value="<%= listingData.country %>" type="text">
        <br> 
        
        <button>Save</button>
    </form>
</body>