<% layout("/layouts/boilerplate")%>
<div class="row mt-3 ">
    <div class="col-8 offset-3 mt-3">
        <h3><b> <%= listingData.title %> </b></h3>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%=listingData.image.url%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <p><i><%= listingData.owner? listingData.owner.username:"Unknown User"%></i></p> <br>
                <p><%= listingData.description %></p> <br>
                <p>&#8377; <%= listingData.price.toLocaleString("en-IN") %></p> <br>
                <p><%= listingData.location %></p> <br>
                <p><%= listingData.country %></p> <br>
            </p>
        </div>
    </div> <br>

    <% if(currentUser && currentUser._id.equals(listingData.owner._id)) { %>
        <div class="btns">
            <a href="/listings/<%= listingData._id %>/edit" class="btn btn-dark edit-btn col-1 offset-3"> Edit</a>

            <form method="post" action="/listings/<%= listingData._id %>?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
    <% } %>

<!-- reviews section -->
    <div class="col-8 offset-3 mb-3"> <hr>
        <h4>Leave a review</h4><br>
        <form method="post" action="/listings/<%= listingData._id %>/reviews" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" >
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label"> Comments</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>

                <div class="invalid-feedback">
                    Please add some comments for review!
                </div>

            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form> <hr>

        <p><b>All Reviews</b></p>
        <div class="row">
            <% for(review of listingData.reviews){ %>
                <div class=" col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body m-2">
                            <h5 class="card-title"> <b> moiz </b></h5>
                            <p class="card-text"><%=review.comment%></p>
                            <p class="card-text"><%=review.rating%> star</p>
                        </div>
                        <form class="m-2" method="post" action="/listings/<%=listingData._id%>/reviews/<%=review._id%>?_method=DELETE"  >
                            <button class="btn btn-sm btn-dark"> Delete</button>
                        </form>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</div>